body{
    background-color: #393E46;
    margin-left:0px;
    margin-right: 0px;
    margin-top: 0px;
}

div{
    background-color: #00ADB5;
}

h1{
    margin-top: 0px;
}

.top-container{

}

.middle-container{
    background-color: red;
    height: 100px;
    width: 100px;
    margin-bottom: 50px;
}

.bottom-container{
    background-color: purple;
    height: 100px;
    width: 100px;
}

/******************* FONT RULES *******************/

.center-text {
    text-align: center;
}

/******************* FONT TYPE *******************/

.vibe-font{
    font-family: 'Great Vibes', cursive;
}